#openwith-toolbar,
#openwith-widget {
	list-style-image: url("chrome://openwith/content/openwith16.png");
}

#openwith-toolbar {
	-moz-box-orient: horizontal;
}

#openwith-widget[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #openwith-widget {
	list-style-image: url("chrome://openwith/content/openwith32.png");
}

#openwith-toolboxbox toolbarbutton > image {
	filter: none;
}
