richlistitem {
	height: 2.5em;
}
richlistitem > hbox {
	padding: 0 4px;
}
richlistitem:first-child {
	width: 15em;
}
richlistitem button {
	display: none;
	margin-top: 0;
	margin-bottom: 0;
}
richlistitem[selected="true"] button {
	display: inline;
}
