#openwith-widewidget > toolbarbutton > .toolbarbutton-icon {
	width: 16px;
	height: 16px;
}
#openwith-widewidget[cui-areatype="toolbar"] > toolbarbutton:not(:hover) {
	border-color: transparent;
	box-shadow: none;
}
