:root {
	padding: 8px;
	min-height: 30em;
}
link[rel] {
	display: none;
}
#left {
	-moz-margin-end: 2em;
}
#left > groupbox {
	margin-top: 0.75em;
	margin-bottom: 1.5em;
}
#left > groupbox + groupbox {
	margin-top: 0;
}
#title {
	font-size: 2.5em;
}
#right {
	width: 40em;
}
description {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	width: 0;
	font-style: italic;
}
richlistitem {
	border-top: 3px solid transparent;
	border-bottom: 1px dotted #c0c0c0;
	padding: 1px 4px 4px;
	-moz-binding: url(chrome://openwith/content/about-openwith.xml#browser);
}
richlistbox:focus > richlistitem[selected="true"] {
	background-image: url(chrome://mozapps/skin/extensions/itemEnabledFader.png);
	color: highlighttext;
}
.browserIcon {
	width: 32px;
	height: 32px;
}
.browserName {
	font-weight: bold;
}
richlistitem:not([keyInfoHuman]) .browserKeyInfoIcon {
	visibility: collapse;
}
.browserKeyInfo {
	-moz-margin-start: 5px;
}
.buttons {
	visibility: collapse;
	margin-top: 3px;
}
.buttons > button {
	margin: 0 2px;
}
:root[appname="Thunderbird"] richlistitem[auto="true"] .edit,
:root[appname="Thunderbird"] .editkeyinfo {
	visibility: collapse;
}
richlistitem[selected="true"] .buttons {
	visibility: visible;
}
richlistitem[browserHidden="true"] {
	color: graytext;
}
richlistitem[browserHidden="true"] image {
	opacity: 0.5;
}
richlistitem.placebefore {
	border-top-color: highlight;
}
richlistitem#dummy {
	-moz-binding: none;
	border-bottom: none;
}
