body {
	min-width: 180px;
}
#update,
#warning,
#error,
#nobrowsers {
	display: none;
	margin: 4px;
	padding: 8px;
	color: #fff;
	line-height: 1.4;
	text-align: center;
}
#update {
	background-color: #0e9352;
}
#update_message {
	max-width: 280px;
	margin: 0 auto 8px;
}
#warning {
	background-color: #fec82f;
}
#error {
	background-color: #e82727;
}
#nobrowsers {
	color: #222426;
}
#browsers {
	margin: 0;
	padding: 0;
	list-style: none;
}
.name {
	-webkit-margin-start: 8px;
	margin-inline-start: 8px;
	white-space: nowrap;
}
.panel-section-footer-button {
	margin: 0;
}
