html,
body {
	background: transparent;
	box-sizing: border-box;
	color: #222426;
	cursor: default;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	-moz-user-select: none;
	user-select: none;
	font: message-box;
	font-size: 13.333px;
	line-height: 1.5;
}
body * {
	box-sizing: border-box;
}
button {
	font-size: 13.333px;
}
.panel-section {
	display: flex;
	flex-direction: row;
}
.panel-section-list {
	flex-direction: column;
	padding: 4px 0;
}
.panel-list-item {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 24px;
	padding: 0 16px;
}
.panel-list-item:not(.disabled):hover {
	background-color: rgba(0, 0, 0, 0.06);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.panel-list-item:not(.disabled):hover:active {
	background-color: rgba(0, 0, 0, 0.1);
}
.panel-list-item > .icon {
	flex-grow: 0;
	flex-shrink: 0;
}
.panel-list-item > .text {
	flex-grow: 10;
}
.panel-section-footer {
	background-color: rgba(0, 0, 0, 0.06);
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	color: #1a1a1a;
	display: flex;
	flex-direction: row;
	height: 41px;
	margin-top: -1px;
	padding: 0;
}
.panel-section-footer-button {
	flex: 1 1 auto;
	height: 100%;
	margin: 0 -1px;
	padding: 12px;
	text-align: center;
}
.panel-section-footer-button:hover {
	background-color: rgba(0, 0, 0, 0.06);
}
.panel-section-footer-button:hover:active {
	background-color: rgba(0, 0, 0, 0.1);
}
