body {
	min-width: 25em;
}
div.panel {
	display: flex;
}
div.panel > div {
	padding: 8px;
	line-height: 1.4;
}
div.panel > div:last-child {
	flex-grow: 1;
}
div#header {
	font-weight: 600;
}
a {
	color: #0454d4;
}
div#button {
	margin-top: 8px;
	text-align: right;
}
button {
	background-color: #fbfbfb;
	border: 1px solid #b1b1b1;
	box-shadow: 0 0 0 0 transparent;
	height: 24px;
	outline: 0 !important;
	padding: 0 8px 0;
	transition-duration: 250ms;
	transition-property: box-shadow, border;
}
button:hover {
	background-color: #ebebeb;
	border: 1px solid #b1b1b1;
}
button:hover:active {
	background-color: #d4d4d4;
	border: 1px solid #858585;
}
